{
  "openapi": "3.1.0",
  "info": {
    "title": "Managed Deep Agents API",
    "version": "0.1.0",
    "description": "Create, configure, and run Managed Deep Agents."
  },
  "servers": [
    {
      "url": "https://api.smith.langchain.com/v1/deepagents"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Create and manage Managed Deep Agent resources."
    },
    {
      "name": "Threads",
      "description": "Create and inspect durable thread state."
    },
    {
      "name": "Runs",
      "description": "Start runs on Managed Deep Agent threads."
    },
    {
      "name": "MCP servers",
      "description": "Register MCP servers and store credentials referenced by agent tools."
    },
    {
      "name": "MCP tools",
      "description": "Discover tools exposed by registered MCP servers."
    },
    {
      "name": "Auth sessions",
      "description": "Start and poll OAuth authorization sessions for OAuth MCP servers."
    }
  ],
  "paths": {
    "/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "Return Managed Deep Agents owned by the authenticated user. System-created default agents are excluded.",
        "operationId": "listManagedDeepAgents",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/list-agents",
          "metadata": {
            "title": "List agents",
            "sidebarTitle": "List agents"
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20. Maximum is 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Substring filter on agent name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "name"
              ],
              "default": "updated_at"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create an agent",
        "description": "Create an agent with metadata, runtime configuration, and an optional file tree. Creation is atomic: either the agent is fully created or no state is persisted.",
        "operationId": "createManagedDeepAgent",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/create-agent",
          "metadata": {
            "title": "Create an agent",
            "sidebarTitle": "Create an agent"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IncludeFiles"
          },
          {
            "$ref": "#/components/parameters/UserTimezone"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Create a research assistant",
                  "value": {
                    "name": "research-assistant",
                    "description": "Research assistant that can search the web and summarize sources.",
                    "permissions": {
                      "identity": "personal",
                      "visibility": "user"
                    },
                    "runtime": {
                      "model": {
                        "model_id": "openai:gpt-5.5"
                      }
                    },
                    "instructions": "You are a careful research assistant. Search for sources, keep notes, and return concise answers with citations.",
                    "tools": {
                      "tools": [
                        {
                          "name": "tavily_web_search",
                          "mcp_server_url": "https://tools.langchain.com",
                          "mcp_server_name": "Fleet",
                          "display_name": "tavily_web_search"
                        }
                      ],
                      "interrupt_config": {
                        "https://tools.langchain.com::tavily_web_search::Fleet": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                },
                "examples": {
                  "basic": {
                    "summary": "Research assistant with one tool",
                    "value": {
                      "id": "dfa71115-c971-4197-8f02-20826fbc6f40",
                      "name": "research-assistant",
                      "description": "Research assistant that can search the web and summarize sources.",
                      "owner_id": "33499cf9-4c02-49af-909d-b8f42e051eab",
                      "created_at": "2026-05-15T20:50:32.708302+00:00",
                      "updated_at": "2026-05-15T20:50:32.708302+00:00",
                      "permissions": {
                        "identity": "personal",
                        "visibility": "user",
                        "tenant_access_level": "read"
                      },
                      "runtime": {
                        "model": {
                          "model_id": "openai:gpt-5.5"
                        }
                      },
                      "revision": "13ac11f11da376e588cb84825ed88d05298f27aaaa90c6f694abf572f34161d9",
                      "instructions": "You are a careful research assistant. Search for sources, keep notes, and return concise answers with citations.",
                      "tools": {
                        "tools": [
                          {
                            "name": "tavily_web_search",
                            "mcp_server_url": "https://tools.langchain.com",
                            "mcp_server_name": "Fleet",
                            "display_name": "tavily_web_search"
                          }
                        ],
                        "interrupt_config": {
                          "https://tools.langchain.com::tavily_web_search::Fleet": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get an agent",
        "description": "Return the specified agent, including metadata, permissions, runtime, extras, and the parsed file tree at the latest commit. Pass `include_files=true` to include the raw file map.",
        "operationId": "getManagedDeepAgent",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/get-agent",
          "metadata": {
            "title": "Get an agent",
            "sidebarTitle": "Get an agent"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentID"
          },
          {
            "$ref": "#/components/parameters/IncludeFiles"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "summary": "Update an agent",
        "description": "Update the specified agent. Top-level scalar fields merge field-by-field. Nested objects such as `runtime`, `permissions`, `tools`, `subagents`, `skills`, and `extras` are replaced in full when provided. Providing file-tree fields such as `instructions`, `tools`, `subagents`, `skills`, or `files` creates a new file tree commit.",
        "operationId": "updateManagedDeepAgent",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/update-agent",
          "metadata": {
            "title": "Update an agent",
            "sidebarTitle": "Update an agent"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentID"
          },
          {
            "$ref": "#/components/parameters/IncludeFiles"
          },
          {
            "$ref": "#/components/parameters/UserTimezone"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              },
              "examples": {
                "updateInstructions": {
                  "summary": "Update instructions and tools",
                  "value": {
                    "description": "Research assistant that searches the web, reads URLs, and summarizes sources.",
                    "instructions": "You are a careful research assistant. Search for sources, read relevant pages, keep notes, and return concise answers with citations.",
                    "tools": {
                      "tools": [
                        {
                          "name": "tavily_web_search",
                          "mcp_server_url": "https://tools.langchain.com",
                          "mcp_server_name": "Fleet",
                          "display_name": "tavily_web_search"
                        },
                        {
                          "name": "read_url_content",
                          "mcp_server_url": "https://tools.langchain.com",
                          "mcp_server_name": "Fleet",
                          "display_name": "read_url_content"
                        }
                      ],
                      "interrupt_config": {
                        "https://tools.langchain.com::tavily_web_search::Fleet": true,
                        "https://tools.langchain.com::read_url_content::Fleet": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete an agent",
        "description": "Delete the agent. The call is idempotent: deleting a non-existent agent returns `204`. Deletion does not cascade to the agent's threads — existing threads remain queryable but cannot start new runs (attempts return `502`). Delete threads explicitly when you want to clean them up.",
        "operationId": "deleteManagedDeepAgent",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/delete-agent",
          "metadata": {
            "title": "Delete an agent",
            "sidebarTitle": "Delete an agent"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentID"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/threads": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "List threads",
        "description": "Return one page of recent threads for a Managed Deep Agent. Results are ordered by latest conversation activity.",
        "operationId": "listManagedDeepAgentThreads",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/list-threads",
          "metadata": {
            "title": "List threads",
            "sidebarTitle": "List threads"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "description": "Managed Deep Agent ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Items per page. Defaults to 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned by the previous list call.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter to a single thread status.",
            "schema": {
              "type": "string",
              "enum": [
                "idle",
                "busy",
                "interrupted",
                "error"
              ]
            }
          },
          {
            "name": "is_pinned",
            "in": "query",
            "required": false,
            "description": "Filter by pinned state.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "test_run",
            "in": "query",
            "required": false,
            "description": "Return test-run threads instead of non-test threads. Defaults to `false`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "requires_attention",
            "in": "query",
            "required": false,
            "description": "Return only threads that need user action. Cannot be combined with `status`.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threads returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      },
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Create a thread",
        "description": "Create a thread bound to a Managed Deep Agent. Use the returned thread ID to start runs.",
        "operationId": "createManagedDeepAgentThread",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/create-thread",
          "metadata": {
            "title": "Create a thread",
            "sidebarTitle": "Create a thread"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThreadRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Create a thread for an agent",
                  "value": {
                    "agent_id": "11111111-1111-1111-1111-111111111111",
                    "options": {
                      "test_run": false,
                      "skip_memory_write_protection": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Thread created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                },
                "examples": {
                  "basic": {
                    "summary": "Thread bound to an agent",
                    "value": {
                      "id": "019e2d67-ff4d-7251-bce5-dfdec8e1991b",
                      "agent_id": "",
                      "status": "idle",
                      "metadata": {
                        "is_test_run": false,
                        "ls_user_id": "33499cf9-4c02-49af-909d-b8f42e051eab",
                        "skip_memory_write_protection": false,
                        "tenant_id": "ebbaf2eb-769b-4505-aca2-d11de10372a4"
                      },
                      "created_at": "2026-05-15T20:50:50.832351+00:00",
                      "updated_at": "2026-05-15T20:50:50.832351+00:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/search": {
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Search threads",
        "description": "Search threads. Request and response bodies are proxied unchanged to the upstream agent runtime.",
        "operationId": "searchManagedDeepAgentThreads",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/search-threads",
          "metadata": {
            "title": "Search threads",
            "sidebarTitle": "Search threads"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassThroughJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Threads returned from the upstream runtime.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/count": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Inbox attention count",
        "description": "Return the caller inbox `attention_count`: unread idle threads plus interrupted and errored threads. Scoped to deep-agent threads; test-run threads are excluded.",
        "operationId": "countManagedDeepAgentThreads",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/count-threads",
          "metadata": {
            "title": "Count threads",
            "sidebarTitle": "Count threads"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "description": "Optional Managed Deep Agent ID to scope the count.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread count returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/{thread_id}": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Get thread",
        "description": "Return thread metadata and status for the given thread ID.",
        "operationId": "getManagedDeepAgentThread",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/get-thread",
          "metadata": {
            "title": "Get thread",
            "sidebarTitle": "Get thread"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ThreadID"
          }
        ],
        "responses": {
          "200": {
            "description": "Thread returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      },
      "patch": {
        "tags": [
          "Threads"
        ],
        "summary": "Update thread",
        "description": "Update thread fields such as title and metadata. Omitted fields are unchanged.",
        "operationId": "updateManagedDeepAgentThread",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/update-thread",
          "metadata": {
            "title": "Update thread",
            "sidebarTitle": "Update thread"
          }
        },
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "description": "Thread ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThreadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thread updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      },
      "delete": {
        "tags": [
          "Threads"
        ],
        "summary": "Delete thread",
        "description": "Delete a thread and all of its runs. Idempotent: deleting a missing thread returns 204.",
        "operationId": "deleteManagedDeepAgentThread",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/delete-thread",
          "metadata": {
            "title": "Delete thread",
            "sidebarTitle": "Delete thread"
          }
        },
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "description": "Thread ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Thread deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/{thread_id}/runs": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Create a thread run",
        "description": "Start a run on the thread. This endpoint is proxied to the upstream agent runtime and accepts its run payload. Include the assistant or agent identifier and run inputs in the request body.",
        "operationId": "createManagedDeepAgentThreadRun",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/runs/create-thread-run",
          "metadata": {
            "title": "Create a thread run",
            "sidebarTitle": "Create a thread run"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ThreadID"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassThroughJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Run created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/{thread_id}/runs/stream": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Stream a thread run",
        "description": "Start a run on a thread and stream output as server-sent events. The request must use `agent_id`; `assistant_id` is reserved for server-side forwarding and is rejected.",
        "operationId": "streamManagedDeepAgentThreadRun",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/runs/stream-thread-run",
          "metadata": {
            "title": "Stream a thread run",
            "sidebarTitle": "Stream a thread run"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ThreadID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamRunRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Stream updates",
                  "value": {
                    "agent_id": "11111111-1111-1111-1111-111111111111",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": "Research recent approaches to agent memory and summarize the main tradeoffs."
                        }
                      ]
                    },
                    "stream_mode": [
                      "updates"
                    ],
                    "stream_subgraphs": true,
                    "user_timezone": "America/Los_Angeles"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server-sent event stream.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/{thread_id}/resolve-interrupt": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Resolve an interrupted thread",
        "description": "Complete a human-interrupt pause on the thread without sending new input, allowing execution to continue or finish. On success the response has no body.",
        "operationId": "resolveManagedDeepAgentThreadInterrupt",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/runs/resolve-interrupt",
          "metadata": {
            "title": "Resolve an interrupt",
            "sidebarTitle": "Resolve an interrupt"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ThreadID"
          }
        ],
        "responses": {
          "204": {
            "description": "Interrupt resolved."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/mcp-servers": {
      "post": {
        "tags": [
          "MCP servers"
        ],
        "summary": "Register an MCP server",
        "description": "Register an MCP server in the caller's workspace. Static-header servers can include credential headers. OAuth servers should set `auth_type=oauth` and `oauth_mode=per_user_dynamic_client`, then register an OAuth provider and start an auth session before use.",
        "operationId": "createMcpServer",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-servers/create-mcp-server",
          "metadata": {
            "title": "Register an MCP server",
            "sidebarTitle": "Register an MCP server"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMcpServerRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Register Tavily's hosted MCP server with a bearer credential",
                  "value": {
                    "name": "tavily",
                    "url": "https://mcp.tavily.com/mcp/",
                    "headers": [
                      {
                        "key": "Authorization",
                        "value": "Bearer tvly-..."
                      }
                    ]
                  }
                },
                "oauth": {
                  "summary": "Register an OAuth MCP server",
                  "value": {
                    "name": "github-tools",
                    "url": "https://example.com/mcp",
                    "auth_type": "oauth",
                    "oauth_mode": "per_user_dynamic_client"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "MCP server registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServer"
                },
                "examples": {
                  "basic": {
                    "summary": "Newly registered Tavily MCP server",
                    "value": {
                      "id": "5b6f6a2b-2c95-4f0f-9c2b-7c3a3e4f8d11",
                      "tenant_id": "33499cf9-4c02-49af-909d-b8f42e051eab",
                      "name": "tavily",
                      "url": "https://mcp.tavily.com/mcp/",
                      "headers": [
                        {
                          "key": "Authorization",
                          "value": "Bearer tvly-..."
                        }
                      ],
                      "auth_type": "",
                      "oauth_mode": "",
                      "created_at": "2026-05-20T20:50:32.708302+00:00",
                      "updated_at": "2026-05-20T20:50:32.708302+00:00",
                      "mcp_vendor_id": null,
                      "vendor_id": null,
                      "external_system_id": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "MCP servers"
        ],
        "summary": "List MCP servers",
        "description": "List MCP servers registered in the caller's workspace.",
        "operationId": "listMcpServers",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-servers/list-mcp-servers",
          "metadata": {
            "title": "List MCP servers",
            "sidebarTitle": "List MCP servers"
          }
        },
        "responses": {
          "200": {
            "description": "List of registered MCP servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMcpServersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/mcp-servers/{mcp_server_id}": {
      "get": {
        "tags": [
          "MCP servers"
        ],
        "summary": "Get an MCP server",
        "description": "Fetch a single MCP server by ID.",
        "operationId": "getMcpServer",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-servers/get-mcp-server",
          "metadata": {
            "title": "Get an MCP server",
            "sidebarTitle": "Get an MCP server"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerID"
          }
        ],
        "responses": {
          "200": {
            "description": "MCP server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "tags": [
          "MCP servers"
        ],
        "summary": "Update an MCP server",
        "description": "Update an MCP server's URL, credential headers, or auth configuration. Passing `headers` replaces the entire stored header array — partial diffs are not supported. Use this endpoint to rotate credentials.",
        "operationId": "updateMcpServer",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-servers/update-mcp-server",
          "metadata": {
            "title": "Update an MCP server",
            "sidebarTitle": "Update an MCP server"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMcpServerRequest"
              },
              "examples": {
                "rotate": {
                  "summary": "Rotate the bearer token",
                  "value": {
                    "headers": [
                      {
                        "key": "Authorization",
                        "value": "Bearer tvly-rotated-..."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP server updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "tags": [
          "MCP servers"
        ],
        "summary": "Delete an MCP server",
        "description": "Delete an MCP server. The call is idempotent: deleting a non-existent server returns `204`. After deletion, agents whose tools reference this server's URL will no longer have the stored headers attached at invocation time.",
        "operationId": "deleteMcpServer",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-servers/delete-mcp-server",
          "metadata": {
            "title": "Delete an MCP server",
            "sidebarTitle": "Delete an MCP server"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerID"
          }
        ],
        "responses": {
          "204": {
            "description": "MCP server deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/mcp-servers/{mcp_server_id}/oauth-provider": {
      "post": {
        "tags": [
          "MCP servers"
        ],
        "summary": "Register per-user MCP OAuth provider",
        "description": "Discovers and registers an OAuth provider for the authenticated user against a Deep Agents MCP server configured with per-user dynamic client mode. Idempotent when a mapping already exists.",
        "operationId": "registerMcpOAuthProvider",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-servers/register-oauth-provider",
          "metadata": {
            "title": "Register per-user MCP OAuth provider",
            "sidebarTitle": "Register OAuth provider"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerID"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterMcpOAuthProviderRequest"
              },
              "examples": {
                "empty": {
                  "summary": "Infer the user from the authenticated request",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth provider registered or returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterMcpOAuthProviderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/mcp/tools": {
      "get": {
        "tags": [
          "MCP tools"
        ],
        "summary": "List MCP tools",
        "description": "Return tools exposed by a registered MCP server. The API serves cached results when fresh; otherwise, it fetches tools from the remote MCP server and caches the response.",
        "operationId": "listMcpTools",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/mcp-tools/list-mcp-tools",
          "metadata": {
            "title": "List MCP tools",
            "sidebarTitle": "List MCP tools"
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Registered MCP server URL to fetch tools from.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "oauth_provider_id",
            "in": "query",
            "required": false,
            "description": "OAuth provider ID for token-based MCP server auth.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force_refresh",
            "in": "query",
            "required": false,
            "description": "Skip cached tool definitions and fetch fresh tools from the MCP server.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ls_user_id",
            "in": "query",
            "required": false,
            "description": "User ID override for service-key callers.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP tools returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMcpToolsResponse"
                },
                "examples": {
                  "basic": {
                    "summary": "Tools from a registered server",
                    "value": {
                      "tools": [
                        {
                          "name": "read_url_content",
                          "description": "Read and extract content from a URL.",
                          "inputSchema": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        }
                      ],
                      "cached": true,
                      "fetched_at": "2026-06-01T20:50:32Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/auth-sessions": {
      "post": {
        "tags": [
          "Auth sessions"
        ],
        "summary": "Start an authorization session",
        "description": "Start an OAuth authorization session for the caller. If the user is already authorized, the response can be completed immediately. Otherwise, the response includes a verification URL that the user must visit to complete authorization.",
        "operationId": "startAuthSession",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/auth-sessions/start-auth-session",
          "metadata": {
            "title": "Start an authorization session",
            "sidebarTitle": "Start an auth session"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthSessionRequest"
              },
              "examples": {
                "oauth": {
                  "summary": "Start an OAuth session for an MCP server provider",
                  "value": {
                    "provider_id": "github-tools-provider",
                    "scopes": [
                      "repo"
                    ],
                    "strategy": "REUSE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing token reused; no new session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAuthSessionResponse"
                }
              }
            }
          },
          "201": {
            "description": "New pending session created; visit `verification_url` to complete authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAuthSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/auth-sessions/{session_id}": {
      "get": {
        "tags": [
          "Auth sessions"
        ],
        "summary": "Get an authorization session",
        "description": "Return the current status of an in-flight authorization session. Use `wait_seconds` to long-poll until the session completes or the wait window expires.",
        "operationId": "getAuthSession",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/auth-sessions/get-auth-session",
          "metadata": {
            "title": "Get an authorization session",
            "sidebarTitle": "Get an auth session"
          }
        },
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Authorization session ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wait_seconds",
            "in": "query",
            "required": false,
            "description": "Long-poll window in seconds. Defaults to 1. Maximum is 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization session status returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/agents/{agent_id}/clone": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Clone an agent",
        "description": "Create a new agent that mirrors the source agent behavior but is owned by the caller. The clone copies runtime, backend, file tree, tools, subagents, and skills; caller metadata and sharing state start fresh.",
        "operationId": "cloneManagedDeepAgent",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/clone-agent",
          "metadata": {
            "title": "Clone an agent",
            "sidebarTitle": "Clone an agent"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Managed Deep Agent ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include_files",
            "in": "query",
            "required": false,
            "description": "Include the raw file map in the agent response. Accepted truthy values are `true` and `1`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "required": false,
            "description": "IANA timezone name (for example, `America/Los_Angeles`) stamped into the agent's runtime configuration when the agent is created or updated. The runtime uses this timezone to inject a localized current-date line into the agent's system prompt, so the agent reasons about dates in the user's local time. Optional. Defaults to `UTC` when omitted; invalid values fall back to `UTC`.",
            "schema": {
              "type": "string",
              "example": "America/Los_Angeles"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent cloned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/agents/{agent_id}/health": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Check agent health",
        "description": "Return a per-MCP-server health summary for the agent.",
        "operationId": "getManagedDeepAgentHealth",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/agents/check-agent-health",
          "metadata": {
            "title": "Check agent health",
            "sidebarTitle": "Check agent health"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Managed Deep Agent ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health summary returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/threads/runs": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Create a thread and start a run",
        "description": "Create a thread bound to `agent_id` and start a run on it in one call. Run kwargs are passed through; thread-creation flags go in the optional `thread` envelope.",
        "operationId": "createManagedDeepAgentThreadAndRun",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/runs/create-thread-and-run",
          "metadata": {
            "title": "Create a thread and start a run",
            "sidebarTitle": "Create thread and run"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThreadAndRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Run created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/threads/bulk-modify": {
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Bulk update threads",
        "description": "Apply one thread update payload to multiple threads. Returns one result per thread in request order.",
        "operationId": "bulkUpdateManagedDeepAgentThreads",
        "x-mint": {
          "href": "/langsmith/managed-deep-agents-api/threads/bulk-update-threads",
          "metadata": {
            "title": "Bulk update threads",
            "sidebarTitle": "Bulk update threads"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateThreadsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update results returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpdateThreadsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "x-default": "LANGSMITH_API_KEY"
      }
    },
    "parameters": {
      "AgentID": {
        "name": "agent_id",
        "in": "path",
        "required": true,
        "description": "Managed Deep Agent ID.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ThreadID": {
        "name": "thread_id",
        "in": "path",
        "required": true,
        "description": "Thread ID.",
        "schema": {
          "type": "string"
        }
      },
      "IncludeFiles": {
        "name": "include_files",
        "in": "query",
        "required": false,
        "description": "Include the raw file map in the agent response. Accepted truthy values are `true` and `1`.",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "UserTimezone": {
        "name": "X-User-Timezone",
        "in": "header",
        "required": false,
        "description": "IANA timezone name (for example, `America/Los_Angeles`) stamped into the agent's runtime configuration when the agent is created or updated. The runtime uses this timezone to inject a localized current-date line into the agent's system prompt, so the agent reasons about dates in the user's local time. Optional. Defaults to `UTC` when omitted; invalid values fall back to `UTC`.",
        "schema": {
          "type": "string",
          "example": "America/Los_Angeles"
        }
      },
      "McpServerID": {
        "name": "mcp_server_id",
        "in": "path",
        "required": true,
        "description": "MCP server ID.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingRequiredField": {
                "summary": "Required field missing",
                "value": {
                  "type": "https://docs.langchain.com/errors/missing_required_field",
                  "code": "missing_required_field",
                  "detail": "Set 'name' to a non-empty string: 'name' is required",
                  "status": 400
                }
              },
              "invalidRequestBody": {
                "summary": "Malformed JSON body",
                "value": {
                  "type": "https://docs.langchain.com/errors/invalid_request_body",
                  "code": "invalid_request_body",
                  "detail": "Provide a valid JSON request body matching the documented schema",
                  "status": 400
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required. The auth layer returns a simple `{\"error\": \"Unauthorized\"}` body that does not match the structured `ErrorResponse` shape used by other 4xx responses.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            },
            "examples": {
              "missingApiKey": {
                "summary": "No `X-Api-Key` header supplied",
                "value": {
                  "error": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The authenticated identity does not have access to the resource or feature. The auth layer returns a simple `{\"error\": \"Forbidden\"}` body that does not match the structured `ErrorResponse` shape used by other 4xx responses.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            },
            "examples": {
              "invalidApiKey": {
                "summary": "API key is invalid or lacks workspace access",
                "value": {
                  "error": "Forbidden"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "agentNotFound": {
                "summary": "Unknown agent ID",
                "value": {
                  "type": "https://docs.langchain.com/errors/agent_not_found",
                  "code": "agent_not_found",
                  "detail": "Verify the agent ID and that the calling identity has access: agent not found",
                  "status": 404
                }
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Request conflicts with current resource state.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Request is syntactically valid but failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Upstream agent runtime error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "upstreamAuthFailed": {
                "summary": "Upstream runtime rejected the request (e.g. orphaned thread after agent deletion)",
                "value": {
                  "type": "https://docs.langchain.com/errors/upstream_auth_failed",
                  "code": "upstream_auth_failed",
                  "detail": "Verify that the calling identity is authorized for this organization: upstream agent runtime rejected the request",
                  "status": 502
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Dependent service unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "CreateAgentRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable agent name. Must not be blank."
          },
          "description": {
            "type": "string",
            "description": "Short agent description."
          },
          "permissions": {
            "$ref": "#/components/schemas/AgentPermissions"
          },
          "runtime": {
            "$ref": "#/components/schemas/AgentRuntime"
          },
          "instructions": {
            "type": "string",
            "description": "Deprecated alias for `system_prompt`. Accepted for backwards compatibility; `system_prompt` takes precedence when both are set."
          },
          "tools": {
            "$ref": "#/components/schemas/ToolsConfig"
          },
          "subagents": {
            "type": "array",
            "description": "Subagents. Each entry is written to `subagents/<name>/AGENTS.md` and, when provided, `subagents/<name>/tools.json`.",
            "items": {
              "$ref": "#/components/schemas/SubagentSpec"
            }
          },
          "skills": {
            "type": "array",
            "description": "Inline skills. Each entry is written to `skills/<name>/SKILL.md` and supporting files.",
            "items": {
              "$ref": "#/components/schemas/SkillSpec"
            }
          },
          "extras": {
            "type": "object",
            "description": "Caller-defined key-value metadata attached to the agent.",
            "additionalProperties": true
          },
          "files": {
            "$ref": "#/components/schemas/FileMap"
          },
          "backend": {
            "$ref": "#/components/schemas/AgentBackend"
          },
          "system_prompt": {
            "type": "string",
            "description": "Agent system prompt. Written to `AGENTS.md`. Preferred over deprecated `instructions` when both are provided."
          },
          "configurable": {
            "type": "object",
            "description": "Caller-defined runtime configuration merged into the agent config. Typed runtime fields win on key collision.",
            "additionalProperties": true
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "description": "Sparse update payload. Omitted fields are left unchanged.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated agent name."
          },
          "description": {
            "type": "string",
            "description": "Updated agent description."
          },
          "permissions": {
            "$ref": "#/components/schemas/AgentPermissions"
          },
          "runtime": {
            "$ref": "#/components/schemas/AgentRuntime"
          },
          "instructions": {
            "type": "string",
            "description": "Deprecated alias for `system_prompt`. Accepted for backwards compatibility; `system_prompt` takes precedence when both are set."
          },
          "tools": {
            "$ref": "#/components/schemas/ToolsConfig"
          },
          "subagents": {
            "type": "array",
            "description": "Updated subagent definitions. Replaces the existing subagents field in full.",
            "items": {
              "$ref": "#/components/schemas/SubagentSpec"
            }
          },
          "skills": {
            "type": "array",
            "description": "Updated inline skills. Replaces the existing skills field in full.",
            "items": {
              "$ref": "#/components/schemas/SkillSpec"
            }
          },
          "extras": {
            "type": "object",
            "description": "Updated caller-defined metadata. Replaces the existing extras field in full.",
            "additionalProperties": true
          },
          "files": {
            "$ref": "#/components/schemas/FileMap"
          },
          "backend": {
            "$ref": "#/components/schemas/AgentBackend"
          },
          "system_prompt": {
            "type": "string",
            "description": "Updated agent system prompt. Written to `AGENTS.md`. Preferred over deprecated `instructions` when both are provided."
          },
          "configurable": {
            "type": "object",
            "description": "Updated caller-defined runtime configuration. Typed runtime fields win on key collision.",
            "additionalProperties": true
          },
          "deleted_paths": {
            "type": "array",
            "description": "Relative file paths to remove from the file tree.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AgentPermissions": {
        "type": "object",
        "description": "Agent visibility and sharing configuration. When omitted on create, defaults to personal identity, tenant visibility, and read tenant access.",
        "properties": {
          "identity": {
            "type": "string",
            "enum": [
              "personal",
              "shared"
            ],
            "default": "personal",
            "description": "Agent identity scope."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "tenant",
              "user"
            ],
            "default": "tenant",
            "description": "Visibility scope for the agent."
          },
          "tenant_access_level": {
            "type": "string",
            "enum": [
              "read",
              "run",
              "write"
            ],
            "default": "read",
            "description": "Workspace access level."
          },
          "shared_users": {
            "$ref": "#/components/schemas/SharedUsers"
          }
        }
      },
      "SharedUsers": {
        "type": "object",
        "properties": {
          "read": {
            "type": "array",
            "description": "User IDs allowed to read the agent.",
            "items": {
              "type": "string"
            }
          },
          "run": {
            "type": "array",
            "description": "User IDs allowed to run the agent.",
            "items": {
              "type": "string"
            }
          },
          "update": {
            "type": "array",
            "description": "User IDs allowed to update the agent.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AgentRuntime": {
        "type": "object",
        "properties": {
          "model": {
            "$ref": "#/components/schemas/AgentModelConfig"
          }
        }
      },
      "AgentModelConfig": {
        "type": "object",
        "properties": {
          "model_id": {
            "type": "string",
            "description": "Model identifier used to run the agent. Use the form `{provider}:{model_name}` — for example, `openai:gpt-5.5` or `openai:gpt-5.4-mini`. Values without a colon are interpreted as references to a saved Playground configuration, not as direct model identifiers. See [Supported models](/langsmith/managed-deep-agents-overview#supported-models) for the recognized provider prefixes.",
            "example": "openai:gpt-5.5"
          }
        }
      },
      "ToolsConfig": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "array",
            "description": "MCP tools available to the agent. Serialized to `tools.json`.",
            "items": {
              "$ref": "#/components/schemas/ToolSpec"
            }
          },
          "interrupt_config": {
            "type": "object",
            "description": "Per-tool interrupt rules. Keys are tool identifiers in the form `{mcp_server_url}::{tool_name}` (separator is two colons). The URL is normalized with any trailing slash stripped, so `https://tools.example.com` and `https://tools.example.com/` match the same tool. Additional `::`-separated components after the tool name (such as the MCP server display name) are accepted but ignored when matching. A bare tool name with no `::` is also accepted as a fallback. Values are booleans: `true` requires a human-in-the-loop interrupt before the tool runs; `false` allows it without interrupt. Use `{}` for no interrupts.",
            "additionalProperties": {
              "type": "boolean"
            }
          }
        }
      },
      "ToolSpec": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name as exposed by the MCP server."
          },
          "mcp_server_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the MCP server hosting this tool."
          },
          "mcp_server_name": {
            "type": "string",
            "description": "Display name for the MCP server. Defaults to the URL when empty."
          },
          "display_name": {
            "type": "string",
            "description": "Display name for the tool. Defaults to the tool name when empty."
          }
        }
      },
      "SubagentSpec": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Subagent slug. Must be non-blank and may contain letters, numbers, spaces, underscores, or hyphens."
          },
          "description": {
            "type": "string",
            "description": "Short human-readable description."
          },
          "model_id": {
            "type": "string",
            "description": "Model ID for this subagent. Inherits the parent runtime when empty."
          },
          "instructions": {
            "type": "string",
            "description": "Subagent system prompt. Written to `subagents/<name>/AGENTS.md`."
          },
          "tools": {
            "$ref": "#/components/schemas/ToolsConfig"
          }
        }
      },
      "SkillSpec": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "inline"
            ],
            "default": "inline",
            "description": "Skill discriminator. Only `inline` is supported."
          },
          "name": {
            "type": "string",
            "description": "Skill slug. Must be non-blank and may contain letters, numbers, spaces, underscores, or hyphens."
          },
          "description": {
            "type": "string",
            "description": "Short human-readable description shown to the agent."
          },
          "instructions": {
            "type": "string",
            "description": "Skill body. Written to `skills/<name>/SKILL.md`."
          },
          "files": {
            "type": "object",
            "description": "Supporting files keyed by relative path. Paths must be relative with no leading slash or `..` segment.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "FileMap": {
        "type": "object",
        "description": "Raw file map for paths not covered by typed fields. Keys are relative file paths. Setting a typed field and the corresponding `files` entry returns `422`.",
        "additionalProperties": {
          "$ref": "#/components/schemas/FileEntry"
        }
      },
      "FileEntry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "file",
              "skill"
            ],
            "description": "Entry discriminator. Defaults to `file` when omitted.",
            "example": "file"
          },
          "content": {
            "type": "string",
            "description": "File contents as a UTF-8 string. Must be empty when `type` is `skill`.",
            "example": "# AGENTS.md\n\nYou are a helpful agent."
          },
          "repo_handle": {
            "type": "string",
            "description": "Workspace skill repo handle. Required when `type` is `skill`.",
            "example": "summarizer"
          },
          "commit_id": {
            "type": "string",
            "description": "Optional pin to a specific skill commit. Defaults to latest."
          }
        }
      },
      "AgentSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "permissions": {
            "$ref": "#/components/schemas/AgentPermissions"
          },
          "runtime": {
            "$ref": "#/components/schemas/AgentRuntime"
          },
          "extras": {
            "type": "object",
            "additionalProperties": true
          },
          "access_level": {
            "type": "string",
            "enum": [
              "READ",
              "RUN",
              "WRITE"
            ],
            "description": "Caller access level for this agent."
          },
          "is_owner": {
            "type": "boolean",
            "description": "Whether the authenticated caller owns this agent."
          },
          "backend": {
            "$ref": "#/components/schemas/AgentBackend"
          }
        }
      },
      "Agent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AgentSummary"
          },
          {
            "type": "object",
            "properties": {
              "revision": {
                "type": "string",
                "description": "Revision token for the latest file tree commit."
              },
              "instructions": {
                "type": "string",
                "description": "Deprecated alias echoed alongside `system_prompt` for backwards compatibility."
              },
              "tools": {
                "$ref": "#/components/schemas/ToolsConfig"
              },
              "subagents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubagentSpec"
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SkillSpec"
                }
              },
              "files": {
                "$ref": "#/components/schemas/FileMap"
              },
              "system_prompt": {
                "type": "string",
                "description": "Agent system prompt parsed from `AGENTS.md`."
              }
            }
          }
        ]
      },
      "ListAgentsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSummary"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for the next page, or `null` when there are no more pages."
          }
        }
      },
      "CreateThreadRequest": {
        "type": "object",
        "required": [
          "agent_id"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "Managed Deep Agent ID."
          },
          "options": {
            "$ref": "#/components/schemas/CreateThreadOptions"
          },
          "thread_id": {
            "type": "string",
            "format": "uuid",
            "description": "Optional caller-supplied thread ID."
          },
          "if_exists": {
            "type": "string",
            "enum": [
              "do_nothing",
              "raise"
            ],
            "description": "Behavior when `thread_id` already exists."
          },
          "metadata": {
            "type": "object",
            "description": "Thread metadata.",
            "additionalProperties": true
          }
        }
      },
      "CreateThreadOptions": {
        "type": "object",
        "properties": {
          "test_run": {
            "type": "boolean",
            "description": "Marks the thread as a test run, filtered out of usage and analytics."
          },
          "skip_memory_write_protection": {
            "type": "boolean",
            "default": false,
            "description": "Controls whether the runtime pauses for human approval before the agent writes to long-term memory on this thread. By default (`false`), the runtime raises a human-in-the-loop interrupt when the agent tries to write or edit files in its memory directory, so the user can approve or reject the write before it persists. Set to `true` to bypass that interrupt and let memory writes proceed immediately — useful for headless or unattended runs."
          }
        }
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "busy",
              "interrupted",
              "error"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ThreadSummary": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Thread"
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "has_interrupts": {
                "type": "boolean"
              },
              "state_updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ListThreadsResponse": {
        "type": "object",
        "properties": {
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThreadSummary"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for the next page, or `null` when there are no more pages."
          }
        }
      },
      "StreamRunRequest": {
        "type": "object",
        "required": [
          "agent_id",
          "input"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "Managed Deep Agent ID. The server forwards this upstream as `assistant_id`."
          },
          "input": {
            "type": "object",
            "required": [
              "messages"
            ],
            "description": "Run input state. Include `messages` for chat input; additional properties are forwarded as graph input state.",
            "properties": {
              "messages": {
                "type": "array",
                "minItems": 1,
                "description": "Input messages for the run.",
                "items": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "additionalProperties": true
          },
          "stream_mode": {
            "type": "array",
            "description": "Stream modes to return.",
            "items": {
              "type": "string",
              "enum": [
                "values",
                "updates",
                "messages-tuple"
              ]
            }
          },
          "stream_subgraphs": {
            "type": "boolean",
            "description": "Whether to stream subgraph events."
          },
          "user_timezone": {
            "type": "string",
            "description": "IANA timezone name (for example, `America/Los_Angeles`) for this run. The runtime uses it to inject a localized current-date line into the agent's system prompt, so the agent reasons about dates in the user's local time. Optional. Defaults to the timezone stamped on the agent (or `UTC` if none was set); invalid values fall back to `UTC`.",
            "example": "America/Los_Angeles"
          }
        },
        "additionalProperties": true
      },
      "Message": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "PassThroughJSON": {
        "type": "object",
        "description": "JSON payload passed through to the upstream agent runtime.",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "McpServerHeader": {
        "type": "object",
        "required": [
          "key",
          "value"
        ],
        "description": "A single header attached to MCP server invocations.",
        "properties": {
          "key": {
            "type": "string",
            "description": "Header name (for example, `Authorization`)."
          },
          "value": {
            "type": "string",
            "description": "Header value. May contain secrets such as bearer tokens."
          }
        }
      },
      "CreateMcpServerRequest": {
        "type": "object",
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the MCP server."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "MCP server URL. Must be a valid HTTPS endpoint."
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpServerHeader"
            },
            "description": "Credential headers attached to every invocation of this MCP server. Omitted from response bodies when the caller lacks invoke permission on the server."
          },
          "auth_type": {
            "$ref": "#/components/schemas/AuthType"
          },
          "oauth_provider_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional OAuth provider ID for legacy shared OAuth providers."
          },
          "oauth_mode": {
            "$ref": "#/components/schemas/OAuthMode"
          },
          "vendor_id": {
            "type": "string",
            "description": "Optional vendor identifier for catalog grouping."
          },
          "external_system_id": {
            "type": "string",
            "description": "Optional opaque external system identifier."
          }
        }
      },
      "UpdateMcpServerRequest": {
        "type": "object",
        "description": "All fields are optional. Passing `headers` replaces the entire stored header array.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpServerHeader"
            },
            "description": "Credential headers attached to every invocation of this MCP server. Omitted from response bodies when the caller lacks invoke permission on the server. Passing this field replaces the entire stored array."
          },
          "auth_type": {
            "$ref": "#/components/schemas/AuthType"
          },
          "oauth_provider_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional OAuth provider ID for legacy shared OAuth providers."
          },
          "oauth_mode": {
            "$ref": "#/components/schemas/OAuthMode"
          }
        }
      },
      "McpServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpServerHeader"
            },
            "description": "Credential headers attached to every invocation of this MCP server. Omitted from response bodies when the caller lacks invoke permission on the server."
          },
          "auth_type": {
            "$ref": "#/components/schemas/AuthType"
          },
          "oauth_provider_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "OAuth provider ID for legacy shared OAuth providers, when configured."
          },
          "oauth_mode": {
            "$ref": "#/components/schemas/OAuthMode"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "mcp_vendor_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vendor_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_system_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "can_invoke": {
            "type": "boolean",
            "description": "Whether the caller has invoke permission on this server. Omitted when ambient permissions already imply invoke."
          }
        }
      },
      "ListMcpServersResponse": {
        "type": "array",
        "description": "List of MCP servers in the caller's workspace.",
[...]
